<main id="main" class="main">
    <div class="pagetitle">
        <h1>Cases</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Case </li>
                <li class="breadcrumb-item active">Archived case</li>
            </ol>
        </nav>
    </div>


    <section class="section dashboard">       


        <div class="card">

        
        <div class="card-body">
            <h5 class="card-title">Archived  <span>| Cases</span></h5>
            <table class="table table-bordered ">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Case Number</th>
                     <th scope="col">Case Type</th>
                     <th scope="col">Applicant / Employee</th>
                     <th scope="col">Applicant Phone no</th>
                     <th scope="col">Letter Number</th>
                     <th scope="col">Letter Subject</th>
                     <th scope="col">Shelf - Row - Folder</th>
                  </tr>
               </thead>
               <tbody>
                  <tr  *ngFor="let ac of ArchivedCases; let i = index">
                     <th scope="row"><a href="#">{{i+1}}</a></th>
                     <td>{{ac.CaseNumber}}</td>
                     <td>{{ac.CaseTypeName}}</td>
                     <td>{{ac.ApplicantName || ac.EmployeeName}}</td>
                     <td>{{ac.ApplicantPhoneNo || ac.EmployeePhoneNo}}</td>
                     <td>{{ac.LetterNumber}}</td>
                     <td>{{ac.LetterSubject}}</td>
                     <td>{{ac.ShelfNumber}} - {{ac.RowNumber}} - {{ac.FolderName}}  </td>
                  </tr>
                 
               </tbody>
            </table>
         </div>
        </div> 
   
    </section>
</main>