<main id="main" class="main">
    <div class="pagetitle">
       <h1>Cases</h1>
       <nav>  
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Raised Issue </li>
             <li class="breadcrumb-item active">Case</li>
          </ol>
       </nav>
    </div>
    <div class="text-end col-lg-12">
      
       <button class="btn btn-danger text-end mb-3" (click)="raiseIssue()"> Raise Issue </button>
    </div>
    <section class="section profile">
 
       <div class="col-lg-4" *ngFor="let issuedCase of issuedCases">
          <div class="card">
             <div class="card-header">
                <div>
                   <div style="text-align: right!important;" *ngIf="issuedCase.IssueAction">
                      <li style="list-style: none; text-align: right;">
                         <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span style="color: #204382;"
                               class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li> <a class="dropdown-item d-flex align-items-center"
                                  style="cursor: pointer;"  (click)="takeActionIssueCase(issuedCase.Id,'Completed')"
                                > <i class="bi bi-bookmark-check bg-success text-white"></i> <span>Resolved</span> </a></li>
                            <li>
                               <hr class="dropdown-divider">
                            </li>
                            <li> <a class="dropdown-item d-flex align-items-center"
                                style="cursor: pointer;" (click)="takeActionIssueCase(issuedCase.Id,'Rejected')"
                              > <i class="bi bi-bookmark-x bg-danger text-white"></i> <span>Rejected</span> </a></li>
                              <li>
                                <hr class="dropdown-divider">
                             </li>
                         </ul>
                      </li>
                   </div>
                   <div>
                     {{issuedCase.CaseTypeName}}
                   </div>
               
                </div>
             </div>
             <div class="card-body" style="background-color: #f6f9ff !important;">
                <h5 class="card-title ">
 
                   {{issuedCase.Remark}}
                </h5>
 
                <div class="row">
                   <div class="col-6">
 
                      <span> {{issuedCase.ApplicantName || issuedCase.EmployeeName}} | {{issuedCase.LetterNumber}} </span><br />
                      <span> {{issuedCase.ApplicantPhoneNo || issuedCase.EmployeePhoneNo}}</span>
 
                   </div>
                   <div class="col-6  text-end" >
 
                    <div style="position: absolute">
                      <span style="font-size: 25px;" class="badge bg-danger">{{issuedCase.CaseNumber}}</span>
 
                      <span *ngIf="issuedCase.IssueStatus == 'Assigned'"
                      style="position: absolute; right: -20px; bottom: -15px; font-size:80%"
                      class="badge bg-success">{{issuedCase.IssueStatus}} </span>
                      </div>
                   </div>
 
                </div>
             </div>
             <div class="card-footer">
               Assinged By :  {{issuedCase.AssignedBy}}<br/>
               Assinged To :  {{issuedCase.AssignedTo}}
             </div>
          </div>
       </div>
    </section>
 </main>