<main id="main" class="main">
    <div class="pagetitle">
        <h1>Comittee</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">PM </li>
                <li class="breadcrumb-item active">Comitee</li>
            </ol>
        </nav>
    </div>
    <div class="text-end col-lg-12">
        <button class="btn btn-primary text-end mb-3" (click)="addCommitte()"> Add Comitee </button>
    </div>
    <section class="section profile">

        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Committees</h5>


                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th scope="col">#</th>
                                <th scope="col">ComiteeName </th>
                                <th scope="col">No Of Employee</th>
                                <th scope="col">Remark</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let committee of committees ; let i= index">

                                <th scope="row">{{i+1}}</th>
                                <td>{{committee.Name }}</td>
                               
                                <td>{{committee.NoOfEmployees}}</td>
                                <td>{{committee.Remark }}</td>
                              
                                <td>
                                    <a  (click)="update(committee)"
                                    class="btn btn-outline-warning"><i class=" bi bi-pen"></i> 
                                        Update</a> |
                                <a  (click)="employees(committee)"
                                    class="btn btn-outline-secondary"><i class=" bi bi-people"></i> 
                                        Employees</a>
                                   

                                </td>

                            </tr> 
                        </tbody>


                    </table>

                </div>
            </div>
        </div>


    </section>
</main>