<main id="main" class="main">
    <div class="pagetitle">
        <h1>Budget Year</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Common</li>
                <li class="breadcrumb-item active">Budget Year</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Program Budget Year</h5>
                    <div class="text-end col-lg-12">
                        <button class="btn btn-primary text-end mb-3"  (click)="addProgramBudgetYear()"> Add Program Budget Year </button>
                    </div>

                    <table class="table  table-hover">
                        <thead>
                            <tr>

                                <th scope="col">#</th>
                                <th scope="col">Program Budget Year</th>
                                <th scope="col">From Year</th>
                                <th scope="col">To Year</th>
                                <th scope="col">Remark</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let pby of programBudgetYear ; let i= index">

                                <th scope="row">{{i+1}}</th>
                                <td>{{pby.Name}}</td>
                                <td>{{pby.FromYear}}</td>
                                <td>{{pby.ToYear}}</td>
                                <td>{{pby.Remark}}</td>
                                <td>


                                    <button class="btn btn-success text-white" data-bs-toggle="modal"
                                        data-bs-target="#BudgetYearList" (click)="budgetYearsDetails(pby)">
                                        <i class="bi bi-card-list"></i>&nbsp; Budget Years 
                                    </button>

                                    <!-- <a  (click)="hello()" class="btn btn-primary">Primary</a> -->
                                </td>

                            </tr>
                        </tbody>


                    </table>

                </div>
            </div>
        </div>
    </section>
</main>



