<main id="main" class="main">
   <div class="pagetitle">
      <h1>Projects</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Projects</li>
            <li class="breadcrumb-item active">List</li>
         </ol>
      </nav>
   </div>
   <div class="text-end col-lg-12">
      <button class="btn btn-primary text-end mb-3" (click)="addPlan()"> Add Project </button>
   </div>
   <section class="section profile">
      <div class="row">

         <div class="col-lg-6" *ngFor="let plan of Plans" style="cursor: pointer;"  (click)="tasks(plan)">

            <div class="card">
               <div class="card-header">
                  
          <div>
            <div>
               {{plan.PlanName}}
            </div>
            <div  style="text-align: right!important;">
               <span *ngIf="plan.HasTask" class="badge bg-success" >Has Task</span> <span *ngIf="!plan.HasTask" class="badge bg-danger" >Has No Task</span></div>   
          </div>
           </div>
               <div class="card-body" style="background-color: #f6f9ff !important;">
                  <h5 class="card-title ">
                     <div class="row">
                        <div class="col-md-10">
                           {{plan.StructureName }}

                        </div>
                        <div class="col-md-2" style="text-align: right!important;">
                           {{plan.ProjectType}}
                        </div>
                     </div>
                  </h5>

                  <div class="text-center" style="color: #798eb3;">
                     <span class="card-title"> Planned Budegt :</span>
                     {{plan.PlandBudget}} ETB &nbsp;
                     <span class="card-title"> Remaining Budegt : </span>
                     {{plan.RemainingBudget}} ETB <br />
                     <div class="mt-2">

                     </div>
                     {{plan.ProjectManager}} - Project Manager <br />
                     {{plan.Director}} - Director <br />
                     {{plan.FinanceManager }} - Finance
                  </div>
               </div>
               <div class="card-footer">

                  <div class="row">
                     <div class="col-lg-6">
                        Tasks: {{plan.NumberOfTask}} &nbsp;&nbsp;
                        Actvities : {{plan.NumberOfActivities}}

                     </div>
                     <div class="col-lg-6" style="text-align: right!important;">
                        Weight : {{plan.PlanWeight}} %
                     </div>
                  </div>

                  <!-- <div style="text-align: right; ">
                     {{plan.PlanWeight}} %
                  </div> -->


                  <div class="progress mt-3">
                     <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                     
                     [ngStyle]="applyStyles(plan.NumberOfActivities,plan.NumberOfTaskCompleted)"
                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
               </div>
            </div>

         </div>

      </div>
   </section>
</main>