<main id="main" class="main">
   <div class="pagetitle">
      <h1>PM Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">PM Dashboard</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col-lg-8">
            <div class="row">
               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">

                     <div class="card-body">
                        <h5 class="card-title">Total <span>| Programs</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-menu-button-wide"></i>
                           </div>
                           <div class="ps-3">
                              <h6>{{IPMDashboardDto.CountPrograms}}</h6>
                              <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                              -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-6">
                  <div class="card info-card revenue-card">

                     <div class="card-body">
                        <h5 class="card-title">Total <span>| Projects</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-journal-text"></i>
                           </div>
                           <div class="ps-3">
                              <h6>{{IPMDashboardDto.TotalProjects}}</h6>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-12">
                  <div class="card info-card customers-card">

                     <div class="card-body">
                        <h5 class="card-title">Overall <span>| Contribution</span></h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-file-earmark-bar-graph"></i>
                           </div>
                           <div class="ps-3">
                              <h6>{{IPMDashboardDto.TotalContribution}} %</h6>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <div class="card">

                     <div class="card-body">
                        <h5 class="card-title">Budget Year Contributon <span>/graph</span></h5>

                        <div class="card">
                           <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
         <div class="col-lg-4">
 <div class="col-xxl-12 col-md-12">
               <div class="card info-card revenue-card">

                  <div class="card-body">
                     <h5 class="card-title">Budget Year<span>| Active</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                           <i class="bi bi-calendar-date"></i>
                        </div>
                        <div class="ps-3">
                           <h6>{{IPMDashboardDto.BudgetYear}}</h6>

                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-xxl-12 col-md-12">
               <div class="card info-card revenue-card">

                  <div class="card-body">
                     <h5 class="card-title">Total <span>| Budget</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                           <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                           <h6>{{IPMDashboardDto.CountBudget}} ETB</h6>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-xxl-12 col-md-12">
               <div class="card info-card revenue-card">

                  <div class="card-body">
                     <h5 class="card-title">Used <span>| Budget</span></h5>
                     <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                           <i class="bi bi-currency-exchange"></i>
                        </div>
                        <div class="ps-3">
                           <h6>{{IPMDashboardDto.CountUsedBudget}} ETB</h6>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
           

         </div>
      </div>

      <div class="row">
         <div class="col-lg-6">
            <div class="card recent-sales overflow-auto">

               <div class="card-body">
                  <h5 class="card-title">Project <span>| Performances</span></h5>
                  <table class="table table-borderless datatable">
                     <thead>
                        <tr>

                           <th scope="col">Directorate</th>
                           <th scope="col">Projects</th>
                           <th scope="col">Weight</th>
                           <th scope="col">{{IPMDashboardDto.BudgetYear}} Performance In %</th>
                           <th scope="col">activity overall performance</th>
                        </tr>
                     </thead>
                     <tbody>


                        <ng-template *ngFor="let item of IPMDashboardDto.ProjectLists">



                           <tr>
                              <td>{{item.DirectorateName}}</td>
                              <td>{{item.ProjectName}}</td>
                              <td>{{item.Weight}} %</td>
                              <td>{{item.ProjectProgress}} %</td>
                              <td>{{item.OverallProgress}} %</td>
                           </tr>

                        </ng-template>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="card recent-sales overflow-auto">
               <div class="card-body">
                  <h5 class="card-title">Late <span>| Progress</span></h5>
                  <table class="table table-borderless datatable">
                     <thead>
                        <tr>

                           <th scope="col">Directorate</th>
                           <th scope="col">Projects</th>
                           <th scope="col">Activities</th>
                           <th scope="col">Month</th>
                           <th scope="col">Goal</th>
                           <th scope="col">achivment</th>
                        </tr>
                     </thead>
                     <tbody>


                        <ng-template *ngFor="let item of IPMDashboardDto.AboutToExpireProjects">



                           <tr>
                              <td>{{item.DirectorName}}</td>
                              <td>{{item.ProjectName}}</td>
                              <td>{{item.ActivityName}} || {{item.TaskName}}</td>
                              <td>{{item.PlanMonthName}}</td>
                              <td>{{item.RequiredAchivement}} %</td>
                              <td>{{item.CurrentAchivement}} %</td>
                           </tr>

                        </ng-template>

                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>

</main>
