<main id="main" class="main">
   <div class="pagetitle">
      <h1>Employee</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Employee</li>
            <li class="breadcrumb-item active">List</li>
         </ol>
   </nav>
   </div>
   <div class="text-end col-lg-12">
      <button class="btn btn-primary text-end mb-3" (click)="addModal()"> Add
         Employee</button>
   </div>
   <section class="section profile">
      <div class="row">

         <div class="col-xl-4" *ngFor="let emp of employees; let i = index">
            <div class="card">
               <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                  <img [src]="getPath(emp.Photo)" alt="Profile" class="rounded-circle">
                  <h2>{{emp.Title}} {{emp.FullName}}</h2>
                 
                  <h3>{{emp.StructureName}}( {{emp.Position}} )</h3>
                  <h6 class="text-center mt-1">{{emp.BranchName}}</h6>
                  
                  
                  <h4>{{emp.PhoneNumber}}</h4>
                  <div class="social-links mt-2">
                     <a id="updateButton" (click)="updateEmp(emp)" class="btn btn-warning text-white"><i
                           class="bi bi-pencil"></i> Update
                     </a>
                  </div>
                  
               </div>
            </div>
         </div>


      </div>
   </section>
</main>