<main id="main" class="main">
    <div class="pagetitle">
        <h1>Cases</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Search </li>
                <li class="breadcrumb-item active">Case</li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">


            <div class="row">

                <div class="text-end card p-2 col-lg-12">



                    <form [formGroup]="searchForm" (submit)="Search()">
                        <div class="d-flex justify-content-start ">
                            <div class="form-floating me-2">
                                <input type="text" class="form-control key" formControlName="key" id="key"
                                    placeholder="key">
                                <label for="key"> filter </label>
                            </div>


                            <button pButton type="submit" icon="pi pi-search"
                                class="p-button-text bg-success text-white"></button>

                        </div>
                    </form>



                </div>

            </div>

            <div class="row">
                <div class="col-lg-4" *ngFor="let mycase of myacaselist">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <div style="text-align: right!important;">
                                    <li style="list-style: none; text-align: right;">
                                        <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span
                                                style="color: #204382;"
                                                class="d-none d-md-block dropdown-toggle ps-2">Action
                                            </span> </a>
                                        <!-- <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                            <li
                                                *ngIf="(mycase.Position==='Secertary'&& !mycase.IsConfirmedBySeretery)||( mycase.Position==='Director' && (mycase.AffairHistoryStatus == 'pend' || mycase.AffairHistoryStatus == 'seen') && !mycase.SecreateryNeeded)">
                                                <a class="dropdown-item d-flex align-items-center"
                                                    (click)="confirmTransaction(mycase.Id)" style="cursor: pointer;"> <i
                                                        class="bi bi-bookmark-check text-success"></i> <span>Confirm</span>
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
    
                                            <li
                                                *ngIf=" mycase.AffairHistoryStatus == 'Pend' || mycase.AffairHistoryStatus == 'Seen' || mycase.AffairHistoryStatus == 'Waiting'">
                                                <a class="dropdown-item d-flex align-items-center"
                                                    (click)="detailCase(mycase.Id)" style="cursor: pointer;"> <i
                                                        class="bi bi-list text-primary"></i> <span>Detail</span> </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
    
    
    
                                        </ul> -->
                                    </li>
                                </div>
                                <div>
                                    {{mycase.CaseTypeName}}
                                </div>
    
                            </div>
                        </div>
                        <div class="card-body" style="background-color: #f6f9ff !important;">
    
                            <span style="color: #798eb3;"> From : </span> {{mycase.FromEmployeeId}} (
                            {{mycase.FromStructure}} )
                            <h5 class="card-title ">
    
                                {{mycase.LetterSubject}}
                            </h5>
    
                            <div class="row">
                                <div class="col-6">
    
                                    <span> {{mycase.ApplicantName || mycase.EmployeeName}} | {{mycase.LetterNumber}}
                                    </span>
    
                                    <span> {{mycase.ApplicantPhoneNo || mycase.EmployeePhoneNo}}</span><br />
                                    <span *ngIf="mycase.SecreateryNeeded&& mycase.IsConfirmedBySeretery"
                                        class="badge bg-success">Confirmed by secretery</span>
    
    
                                    <span *ngIf="mycase.SecreateryNeeded&& !mycase.IsConfirmedBySeretery"
                                        class="badge bg-danger">Not Confirmed by secretery</span>
    
    
                                    <span *ngIf="!mycase.SecreateryNeeded&& mycase.IsConfirmedBySeretery"
                                        class="badge bg-success">Confirmed by {{mycase.ToEmployee}} </span>
    
                                    <span *ngIf="!mycase.SecreateryNeeded&& mycase.IsConfirmedBySeretery"
                                        class="badge bg-danger">Not Confirmed by {{mycase.ToEmployee}}</span>
    
    
    
                                </div>
                                <div class="col-6 text-end ">
    
                                    <div style="position: absolute">
                                        <span style="font-size: 25px;"
                                            class="badge bg-secondary">{{mycase.CaseNumber}}</span>
    
    
                                        <span *ngIf="mycase.AffairHistoryStatus == 'Seen'"
                                            style="position: absolute; right: -20px; bottom: -15px; font-size:80%"
                                            class="badge bg-success">{{mycase.AffairHistoryStatus}} </span>
    
                                        <span *ngIf="mycase.AffairHistoryStatus != 'Seen'"
                                            style="position: absolute;right: -20px; bottom: -15px; font-size:80%"
                                            class="badge bg-danger"> {{mycase.AffairHistoryStatus }}</span>
    
                                    </div>
    
    
    
                                </div>
    
                            </div>
                        </div>
                        <div class="card-footer text-end">
    
                            <span>Reciver Type : </span><span class="badge bg-success">{{mycase.ReciverType}}</span>
    
    
    
    
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>