<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Committee Employees </h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Comittee Employees Detail</h5>
            <hr class="divider" />

            <div class="row">


                <div class="d-flex  justify-content-around p-2  col-10">

                    <span class="card-title"> {{committee.Name}}</span>



                    <!-- <label for="assignactivityto">Assign Activity to</label> -->



                    <div class="row mb-3">



                        <div class="col-sm-10">
                            <select class="form-select" multiple [(ngModel)]="selectedEmployee"
                                style="height: 230px;width:300px">

                                <option *ngFor="let emp of employees" value={{emp.Id}}>{{emp.Name}}</option>

                            </select>
                        </div>
                    </div>


                    <div class="text-center">

                        <button class="btn btn-outline-success mt-3" [disabled]="!selectedEmployee"
                            (click)="addEmpinCommittee()"> <i class="bi bi-arrow-right-short"
                                style="font-size: 25px;"></i></button><br> <br>

                        <button class="btn btn-outline-danger" [disabled]="!selectedEmployee2"
                            (click)="removeEmpinCommitee()"> <i class="bi bi-arrow-left-short"
                                style="font-size: 25px;"></i> </button>


                    </div>





                    <div class="row mb-3">

                        <div class="col-sm-10">
                            <select class="form-select" [(ngModel)]="selectedEmployee2" multiple
                                style="height: 230px;width:300px">

                                <option *ngFor="let coEmp of committee.EmployeeList" value={{coEmp.Id}}>{{coEmp.Name}}
                                </option>

                            </select>
                        </div>
                    </div>



                </div>

                <div style="text-align: left!important;" class="col-2 p-2">
                    <input type="color" disabled="" value="#dee2e6" style="width:20%;"> &nbsp; <label
                        class="control-label mb-1">Nominated </label> <br>
                    <input type="color" disabled="" value="#73e2cc" style="width:20%;"> &nbsp; <label
                        class="control-label mb-1">Approved </label> <br>
                    <input type="color" disabled="" value="#f3b2bc" style="width:20%;"> &nbsp; <label
                        class="control-label">Rejected </label>

                </div>

            </div>

        </div>
    </div>
</div>