
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Budget Year for {{programBudget!.Name}}</h5>
                <button type="button" class="btn-close" id="ModalClose" (click)="modalClose()"
                    aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Budget Year Detail</h5>



                    <form class="needs-validation" [formGroup]="BudgetYearForm" (submit)="submit()">

                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating"> <input type="number" class="form-control"
                                            id="Year" placeholder="Year" required
                                            formControlName="Year">
                                        <label for="Year">Year</label>
                                    </div>
                                </div>

                              
                                <div class="col-md-6">
                                    <div class="form-floating"> <input type="text" class="form-control" id="Fromdate"
                                            placeholder="From Date" required formControlName="Fromdate"> <label
                                            for="Fromdate">From Date</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating"> <input type="text" class="form-control" id="ToDate"
                                            placeholder="ToDate" required formControlName="ToDate"> <label
                                            for="ToDate">To Date</label></div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating"><textarea  class="form-control"
                                            formControlName="Remark" placeholder="Remark" id="Remark"
                                            style="height: 100px;"></textarea><label for="Remark">Remark</label></div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                                (click)="modalClose()">Close</button> <button type="button" type="submit" [disabled]="!BudgetYearForm.valid"
                                class="btn btn-success" >Save
                                changes</button></div>
                    </form>

                </div>
            </div>

        </div>
 