<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Programs</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Program Detail</h5>
            <form class="" [formGroup]="programForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">

                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="ProgramBudgetYearId"
                                    formControlName="ProgramBudgetYearId" aria-label="State">

                                    <option></option>
                                        <option *ngFor="let pb of programBudgetYears" value={{pb.Id}}>{{pb.Name}}</option>
                             

                                </select>
                                <label for="ProgramBudgetYearId">Program Budget year</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ProgramName" placeholder="ProgramName"
                                    formControlName="ProgramName">
                                <label for="ProgramName">Program Name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="ProgramPlannedBudget" placeholder="PlannedBudget"
                                    formControlName="ProgramPlannedBudget">
                                <label for="ProgramPlannedBudget">Planned Budget</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                                    placeholder="Address" id="Remark" style="height: 100px;"></textarea><label
                                    for="Remark">Remark</label>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()">Close</button>
                    <button type="button" type="submit" [disabled]="!programForm.valid" class="btn btn-success">Create</button>
                </div>
            </form>

        </div>
    </div>

</div>