<div class="card">

    <div class="card-header">

        <div class="card-title">
            <li style="list-style: none; text-align: right;">
                <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span
                        class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li> <a class="dropdown-item d-flex align-items-center"
                            *ngIf="(actView.MonthPerformance!.length===0)" style="cursor: pointer;"
                            (click)="AssignTarget()"> <i class="bi bi-calendar-date text-primary"></i> <span>Assign
                                Target</span> </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li> <a class="dropdown-item d-flex align-items-center" *ngIf="(isMember)" style="cursor: pointer;"
                            (click)="AddProgress()"> <i class="bi bi-plus text-primary"></i> <span>Add Progress</span>
                        </a></li>
                    <hr class="dropdown-divider">

                    <li> <a class="dropdown-item d-flex align-items-center" *ngIf="(isMember)" style="cursor: pointer;"
                            (click)="FinalizeProgress()"> <i class="bi bi-list-check text-primary"></i> <span>Finalize
                                Progress</span> </a></li>
                    <hr class="dropdown-divider">
                    <li> <a class="dropdown-item d-flex align-items-center" *ngIf="(isMember||actView.IsDirector || actView.IsFinance)" style="cursor: pointer;"
                            (click)="ViewProgress()"> <i class="bi bi-eye text-primary"></i> <span>View Progress</span>
                        </a></li>






                </ul>
            </li>
            {{actView.Name}}

        </div>

    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between col-6 p-2 m-2">
            <div>
                <span> Planned Budget : </span> {{actView.PlannedBudget}} ETB <br />
                <span> Activity Type : </span> {{actView.ActivityType}} <br />
                <span> Weight :</span> {{actView.Weight}} % <br />
            </div>
            <div>
                <span>Begining :</span> {{actView.Begining}} <br />
                <span>Target :</span> {{actView.Target}} <br />
                <span>Unit Measurment: </span> {{actView.UnitOfMeasurment}}
            </div>
        </div>

        <div style="overflow-x:auto;">
            <table class="table table-bordered table-responsive" *ngIf="actView.MonthPerformance!.length>0">
                <thead>
                    <tr>
                        <th class="text-center" colspan="3">
                            July (ሃምሌ)
                        </th>
                        <th class="text-center" *ngFor="let month of months " colspan="4">

                            {{month}}
                        </th>


                    </tr>
                    <tr>


                        <th> p</th>
                        <th>A</th>
                        <th style="background-color:#E2EFDA">P(%) </th>
                        <ng-container *ngFor="let month of months ">

                            <th> p</th>
                            <th>A</th>
                            <th>P(%) </th>
                            <th style="background-color:#E2EFDA">Upto {{month}}</th>

                        </ng-container>



                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <ng-container *ngFor="let perform of actView.MonthPerformance ;let i= index;">
                            <ng-container *ngIf="i==0">
                                <td>{{perform.Planned}} </td>
                                <td>{{perform.Actual}} </td>
                                <td style="background-color:#E2EFDA">{{perform.Percentage}} %</td>
                            </ng-container>
                            <ng-container *ngIf="i!=0">
                                <td>{{perform.Planned}} </td>
                                <td>{{perform.Actual}} </td>
                                <td>{{perform.Percentage}} %</td>
                                <td style="background-color:#E2EFDA">{{getUpTo(i,actView.MonthPerformance!) | number:'1.2-2'}} %</td>
                            </ng-container>

                        </ng-container>


                    </tr>

                </tbody>
            </table>
        </div>








    </div>

    <div class="card-footer">
        <span>
            Activity Overall Performance
        </span>
        : {{getUpTo(12,actView.MonthPerformance!) | number:'1.2-2'}} %
        <div class="progress mt-3">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
            [ngStyle]="applyStyles(getUpTo(12,actView.MonthPerformance!))"     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br />
        <i class="bi bi-calendar-check"></i>
        Start Date: {{actView.StartDate | date:'fullDate'}}
        <span style="font-size: 25px;font-weight:bold;"> - </span>
        <i class="bi bi-calendar-check"></i> End Date:
        {{actView.EndDate | date:'fullDate'}}

        <div style="text-align: right!important;">

            <img style="width: 40px;margin:10px; cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top"
                title={{emp.Name}} *ngFor="let emp of actView.Members" [src]="getImage(emp.Photo!)" alt="Profile"
                class="rounded-circle">

        </div>

    </div>

</div>