<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Update Structure {{structureForm.value.StructureName}}</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Structure Detail</h5>



            <form class="needs-validation" [formGroup]="structureForm" (submit)="submit()">

                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="branchList" formControlName="OrganizationBranchId"
                                    (change)="onBranchChange()" aria-label="State">

                                    <option *ngFor="let bl of branchList" value={{bl.Id}}>{{bl.Name}}</option>

                                </select>
                                <label for="branchList">Branch List</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="ParentStructureId" formControlName="ParentStructureId"
                                    aria-label="State">

                                    <option></option>
                                    <option *ngFor="let ps of parentStructureList" value={{ps.Id}}>{{ps.Name}}</option>


                                </select>
                                <label for="ParentStructureId">Parent Structure</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating"> <input type="text" class="form-control" id="floatingName"
                                    placeholder="Structure Name" formControlName="StructureName">
                                <label for="floatingName">Structure Name</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="RowStatus" formControlName="RowStatus"
                                    aria-label="State">


                                    <option value=0>Active</option>
                                    <option value=1>InActive</option>


                                </select>
                                <label for="RowStatus">Status</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-floating"> <input type="text" class="form-control"
                                    id="OfficeNumber" placeholder="Office Number" 
                                    formControlName="OfficeNumber">
                                <label for="OfficeNumber">Office Number</label>
                            </div>
                        </div>

                        
                        <div class="col-md-2">
                            <div class="form-check"> <input class="form-check-input" formControlName="IsBranch"
                                    type="checkbox" id="gridCheck"> <label class="form-check-label"
                                    for="gridCheck">Is Branch </label></div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating"> <input type="number" class="form-control" id="Order"
                                    placeholder="Order" formControlName="Order"> <label for="Order">Order</label></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating"> <input type="number" class="form-control" id="Weight"
                                    placeholder="Weight" formControlName="Weight"> <label for="Weight">Weight</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                                    placeholder="Address" id="Remark" style="height: 100px;"></textarea><label
                                    for="Remark">Remark</label></div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()">Close</button> <button [disabled]="!structureForm.valid" type="button"
                        type="submit" class="btn btn-success">Update changes</button></div>
            </form>

        </div>
    </div>

</div>