<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Update Employee</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Employee Detail</h5>
            <form [formGroup]="EmployeeForm" (submit)="submit()">
                <div class="row mb-3">

                    <div class="col-md-4">
                        <img [src]="imageURL?imageURL:'assets/img/profile.jpg'" alt="Profile" style="width: 100%;">
                        <input #file (change)="showPreview($event)" type="file" style="display: none;"
                            accept="image/*" />

                        <div class="pt-2"> <a (click)="file.click()" style="width: 100%;" class="btn btn-primary btn-sm"
                                title="Upload new profile image"><i class="bi bi-upload"></i> Upload Image</a> </div>


                    </div>


                    <div class="col-md-8">
                        <div class="row g-3">
                            <div class="col-md-3">
                                <div class="form-floating"> <input type="text" class="form-control" id="Title"
                                        placeholder="Title" required formControlName="Title">
                                    <label for="Title">Title</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-floating"> <input type="text" class="form-control" id="FullName"
                                        placeholder="FullName" required formControlName="FullName">
                                    <label for="FullName"> Full Name</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="branchList" #branch 
                                        (change)="onBranchChange(branch.value)"  aria-label="BranchList">
                                        <option></option>
                                        <option *ngFor="let bl of branchList" [value]="bl.Id">
                                            {{bl.Name}}
                                        </option>
                                    </select>
                                    <label for="branchList">Branch List</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="StructureId" formControlName="StructureId"
                                        aria-label="StructureId">

                                        <option></option>
                                        <option *ngFor="let ps of parentStructureList" [value]="ps.Id">
                                            {{ps.Name}}
                                        </option>

                                    </select>
                                    <label for="StructureId">Structure</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="Position" id="Position"
                                        aria-label="Position">

                                        <option></option>

                                        <option value="Director">Director</option>
                                        <option value="Secertary">Secertary</option>
                                        <option value="Member">Member</option>





                                    </select>
                                    <label for="Position">Position</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating"> <input type="text" class="form-control" id="PhoneNumber"
                                        placeholder="PhoneNumber" required formControlName="PhoneNumber">
                                    <label for="PhoneNumber"> Phone Number</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="ParentStructureId" formControlName="Gender"
                                        aria-label="State">

                                        <option></option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>


                                    </select>
                                    <label for="ParentStructureId">Gender</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="RowStatus" formControlName="RowStatus"
                                        aria-label="State">


                                        <option value=0>Active</option>
                                        <option value=1>InActive</option>


                                    </select>
                                    <label for="RowStatus">Status</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating"><textarea required class="form-control"
                                        formControlName="Remark" placeholder="Remark" id="Remark"
                                        style="height: 100px;"></textarea><label for="Remark">Remark</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()">Close</button> <button type="button" [disabled]="!EmployeeForm.valid" type="submit"
                        class="btn btn-success">Update
                        changes</button></div>
            </form>

        </div>
    </div>
</div>