<main id="main" class="main">
    <div class="pagetitle">
        <h1>Cases</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Case </li>
                <li class="breadcrumb-item active">Completed cases</li>
            </ol>
        </nav>
    </div>


    <section class="section dashboard">
       

            <div class="row">
                <div class="col-lg-4" *ngFor="let encodedCase of completedCases">
                    <div class="card">
                       <div class="card-header">
                          <div>
                             <div style="text-align: right!important;">
                                <li style="list-style: none; text-align: right;">
                                   <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span style="color: #204382;"
                                         class="d-none d-md-block dropdown-toggle ps-2">Action </span> </a>
                                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                      <li> <a class="dropdown-item d-flex align-items-center"
                                            style="cursor: pointer;"  (click)="archiveCase(encodedCase)"
                                          > <i class="bi bi-bookmark-check text-primary"></i> <span>Archive
                                               Case</span> </a></li>
                                      <li>
                                         <hr class="dropdown-divider">
                                      </li>
                                   </ul>
                                </li>
                             </div>
                             <div>
                               {{encodedCase.CaseTypeName}}
                             </div>
                         
                          </div>
                       </div>
                       <div class="card-body" style="background-color: #f6f9ff !important;">
                          <h5 class="card-title ">
           
                             {{encodedCase.LetterSubject}}
                          </h5>
           
                          <div class="row">
                             <div class="col-6">
           
                                <span> {{encodedCase.ApplicantName || encodedCase.EmployeeName}} | {{encodedCase.LetterNumber}} </span><br />
                                <span> {{encodedCase.ApplicantPhoneNo || encodedCase.EmployeePhoneNo}}</span>
           
                             </div>
                             <div class="col-6 " style="text-align: right!important;">
           

                                <div style="position: absolute">
                                    <span style="font-size: 25px;"
                                        class="badge bg-secondary">{{encodedCase.CaseNumber}}</span>


                                    <span *ngIf="encodedCase.AffairHistoryStatus == 'Completed'"
                                        style="position: absolute; right: -20px; bottom: -15px; font-size:80%"
                                        class="badge bg-success">{{encodedCase.AffairHistoryStatus}} </span>

                                 

                                </div>



                              
           
                             </div>
           
                          </div>
                       </div>
                       <div class="card-footer">
           
                       </div>
                    </div>
                 </div>
            </div>

   
    </section>
</main>