<main id="main" class="main">
   <div class="pagetitle">
      <h1>Cases</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Case </li>
            <li class="breadcrumb-item active">Detail</li>
         </ol>
      </nav>
   </div>


   <section class="section dashboard">
      <div class="card">
         <div class="row">

            <div class="col-lg-5">
               <div class="card-body">
                  <h5 class="card-title">Attachments</h5>

                  <div class="col-12 " style="padding: 20px;">

                     <ng-template *ngFor="let item of pdfObjects">

                     </ng-template>

                     <p-carousel *ngIf="pdfObjects.length>0" [value]="pdfObjects" [numVisible]="1" [numScroll]="1"
                        [circular]="true">
                        <ng-template let-item pTemplate="item">

                           <embed [src]="getPdfFile(item)" type="application/pdf" width="100%" height="450px" />
                           <div style="text-align: center;">
                              <a (click)="viewPdf(item)" class=" btn  m-2" style="
                                 
color: white;
background-color: #0dcaf0;
border-color: #0dcaf0;
padding: .75rem;
cursor: pointer;
margin-top: 24px;
text-align: center;
vertical-align: middle;
border-radius: 10px;      
                                 ">View PDF File</a>
                           </div>
                        </ng-template>

                     </p-carousel>
                     <ng-image-slider *ngIf="imageObject.length>0&&pdfObjects.length>0" [infinite]="true"
                        [images]="imageObject" [imageSize]="{width: 200, height: 150, space: 10}" #nav>



                     </ng-image-slider>
                     <ng-image-slider *ngIf="imageObject.length>0&&pdfObjects.length<=0" [images]="imageObject"
                        [imageSize]="{width: 280, height: 300, space: 10}" #nav>


                     </ng-image-slider>
                  </div>





               </div>


            </div>
            <div class="col-lg-7 box">


               <div class="ribbon ribbon-top-right"><span [class]="caseDetail.AffairHistoryStatus=='Pend'||caseDetail.AffairHistoryStatus=='Waiting'?'bg-warning':
                  caseDetail.AffairHistoryStatus=='Seen'||caseDetail.AffairHistoryStatus=='Completed'?'bg-success':
                  caseDetail.AffairHistoryStatus=='Transfered'?'bg-info':'bg-danger'">
                     {{caseDetail.AffairHistoryStatus}}
                  </span></div>

               <div class="card-title m-2">{{caseDetail.CaseNumber!}}</div>

               <p class="m-2"><span style="color: #798eb3;font-size: 18px;"> Case Type : </span>
                  {{caseDetail.CaseTypeName!}}</p>
               <p class="m-2"><span style="color: #798eb3;font-size: 16px;"> Letter Subject : </span>
                  {{caseDetail.LetterSubject!}}</p>
               <p class="m-2"><span style="color: #798eb3;font-size: 16px;"> Applicant : </span>
                  {{caseDetail.EmployeeName!}} {{caseDetail.ApplicantName!}}</p>
               <p class="m-2"><span style="color: #798eb3;font-size: 16px;"> From : </span>
                  {{caseDetail.FromEmployeeId}} (
                  {{caseDetail.FromStructure}} )</p>

               <div>

               </div>
               <div class="buttons" *ngIf="getPermission(caseDetail)">
                  <button type="button" (click)="AddtoWaiting()" class="btn btn-outline-danger m-2">Add to
                     Waiting</button>
                  <button type="button" (click)="TransferCase()" class="btn btn-outline-info m-2">Transfer</button>
                  <button type="button" (click)="CompleteCase()" class="btn btn-outline-success m-2">Complete</button>
                  <button type="button" (click)="Appointment()" class="btn btn-outline-primary m-2">Make
                     Appointment</button>
                  <button type="button" (click)="Revert()" class="btn btn-outline-warning m-2">Revert</button>
                  <button type="button" (click)="SendSMS()" class="btn btn-outline-secondary m-2">Send SMS</button>
               </div>


               <div class="col-lg-12  mt-5 pe-5">
                  <table class="table table-striped table-bordered">
                     <thead>
                        <tr>
                           <th scope="col">Also Seen By</th>
                           <th scope="col">Structure</th>
                           <th scope="col">Seen At</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let casestructures of caseDetail.CaseDetailStructures">
                           <td>{{casestructures.FromEmployee}}</td>
                           <td>{{casestructures.FormStructure}}</td>
                           <td>{{casestructures.SeenDate | date:'fullDate'}}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>