<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Make Appointment</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body ">
            <h5 class="card-title">Appointment Detail</h5>

            <div class="col-12 mt-2">
                <form [formGroup]="appointmentForm"  (submit)="submit()" >
                <div class="d-flex justify-content-center ">
                    <div class="form-floating me-2">
                        <input type="text" class="form-control exdate" formControlName="AppointementDate" id="exdate" placeholder="exdate">
                        <label for="exdate">Execution Date</label>
                    </div>

                    <div class="form-floating me-4">
                        <input type="time" class="form-control" formControlName="Time" id="time" placeholder="time">
                        <label for="time">Time</label>
                    </div>

                    <button type="button" [disabled]="!appointmentForm.valid" type="submit" class="btn col-2  btn-success">Appoint</button>
                </div>
                </form>
            </div>
            <hr>

            <div id="calendar" class="mt-2"></div>
        </div>