<main id="main" class="main">
    <div class="pagetitle">
        <h1>Inside Cases</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Inside </li>
                <li class="breadcrumb-item active">Case</li>
            </ol>
        </nav>
    </div>
    <div class="text-end col-lg-12">
        <button class="btn btn-primary text-end mb-3" (click)="addCase()"> Add Inside Case </button>

    </div>
    <section class="section profile">
        <div class="row">
        </div>
    </section>
</main>