<main id="main" class="main">
    <div class="pagetitle">
       <h1>Cases</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Case </li>
             <li class="breadcrumb-item active">List</li>
          </ol>
       </nav>
    </div>
  
    <section class="section profile">

        
      <button class="btn btn-primary text-end mb-3"> <a routerLink="/casehistory">Assign Case</a></button>

        
      
    </section>
 </main>