<main id="main" class="main">
    <div class="pagetitle">
        <h1>Activities</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Assigned </li>
                <li class="breadcrumb-item active">Activities</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-12">
        <div *ngFor="let actView of Activties">                                    
            <app-view-activties  [actView]="actView"></app-view-activties>
        </div>        
    </div>
    <section class="section profile">
    </section>
</main>