<main id="main" class="main">
    <div class="pagetitle">
        <h1>Archive Configuration</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/" >Home</a>
                </li>
                <li class="breadcrumb-item">Common</li>
                <li class="breadcrumb-item active">Archive Configuration</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Shelf</h5>
                        <div class="text-end col-lg-12">
                            <button class="btn btn-primary text-end mb-3" (click)="addShelf()"> Add Shelf </button>
                        </div>
    
                        <table class="table  table-hover">
                            <thead>
                                <tr>
    
                                    <th scope="col">#</th>
                                    <th scope="col">Shelf ID</th>
                                    <th scope="col">Remark</th>
                                    <!-- <th scope="col">Action</th> -->
                                    
    
                                </tr>
                            </thead>
                            <tbody>
    
                                <tr *ngFor="let shelf of   shelfs ; let i= index" (click)="onShelfClick(shelf)">
    
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{shelf.ShelfNumber}}</td>
                                    <td>{{shelf.Remark}}</td>
                                  
                                    <!-- <td>
    
    
                                        <button class="btn btn-success text-white" data-bs-toggle="modal"
                                            data-bs-target="#BudgetYearList" (click)="budgetYearsDetails(pby)">
                                            <i class="bi bi-card-list"></i>&nbsp; Budget Years 
                                        </button>
    
                                        
                                    </td> -->
    
                                </tr>
                            </tbody>
    
    
                        </table>
    
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Row of ({{shelf?.ShelfNumber}})</h5>
                        <div class="text-end col-lg-12">
                            <button class="btn btn-primary text-end mb-3" [disabled]="!shelf" (click)="addRow()"> Add Row </button>
                        </div>
    
                        <table class="table  table-hover">
                            <thead>
                                <tr>
    
                                    <th scope="col">#</th>
                                    <th scope="col">Row ID</th>
                                  
                                    <th scope="col">Remark</th>
                                    <!-- <th scope="col">Action</th>
                                     -->
    
                                </tr>
                            </thead>
                            <tbody>
    
                                <tr *ngFor="let ro of rows ; let i= index" (click)="onRowClick(ro)">
    
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{ro.RowNumber}}</td>
                                    
                                
                                    <td>{{ro.Remark}}</td>
                                    <!-- <td>
    
    
                                        <button class="btn btn-success text-white" data-bs-toggle="modal"
                                            data-bs-target="#BudgetYearList" (click)="budgetYearsDetails(pby)">
                                            <i class="bi bi-card-list"></i>&nbsp; Budget Years 
                                        </button>
    
                                        
                                    </td> -->
    
                                </tr>
                            </tbody>
    
    
                        </table>
    
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Folder of ({{row?.RowNumber}})</h5>
                        <div class="text-end col-lg-12">
                            <button class="btn btn-primary text-end mb-3" [disabled]="!row" (click)="addFolder()"> Add Folder </button>
                        </div>
    
                        <table class="table  table-hover">
                            <thead>
                                <tr>
    
                                    <th scope="col">#</th>
                                    <th scope="col">Folder ID</th>
                                    <th scope="col">Remark</th>
<!--                                  
                                    <th scope="col">Action</th> -->
                                    
    
                                </tr>
                            </thead>
                            <tbody>
    
                                <tr *ngFor="let folder of folders ; let i= index">
    
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{folder.FolderName}}</td>
                                    <td>{{folder.Remark}}</td>
                                    <!-- <td>{{folder.FromYear}}</td>
                                    <td>{{folder.ToYear}}</td>
                                    <td>{{folder.Remark}}</td> -->
                                    <!-- <td>
    
    
                                        <button class="btn btn-success text-white" data-bs-toggle="modal"
                                            data-bs-target="#BudgetYearList" (click)="budgetYearsDetails(pby)">
                                            <i class="bi bi-card-list"></i>&nbsp; Budget Years 
                                        </button>
    
                                        
                                    </td> -->
    
                                </tr>
                            </tbody>
    
    
                        </table>
    
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
