<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Unit of Measurment</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Measurment Detail</h5>
            <form class="" [formGroup]="measurmentForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Name" placeholder="Name"
                                    formControlName="Name">
                                <label for="Name">Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="LocalName" placeholder="Local Name"
                                    formControlName="LocalName"> <label for="LocalName">Local Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="Type" formControlName="Type" aria-label="Type">


                                    <option value=0>Percent</option>
                                    <option value=1>Number</option>


                                </select>
                                <label for="Type">Type</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                                    placeholder="Address" id="Remark" style="height: 100px;"></textarea><label
                                    for="Remark">Remark</label>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()">Close</button>
                    <button type="button" type="submit" [disabled]="!measurmentForm.valid" class="btn btn-success">Save
                        changes</button>
                </div>
            </form>

        </div>
    </div>

</div>