<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Activity</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Activity Detail</h5>

            <div class="row">
                <div class="col-lg-9">
                    <form class="" [formGroup]="activityForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">


                                <div  class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control"
                                            formControlName="ActivityDescription" placeholder="ActivityDescription"
                                            id="ActivityDescription" style="height: 120px;"></textarea><label
                                            for="ActivityDescription">Activity Description</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control stdate" id="StartDate" formControlName="StartDate"
                                            placeholder="StartDate" >
                                        <label for="StartDate">Start Date</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="EndDate" placeholder="EndDate" formControlName="EndDate"
                                            >
                                        <label for="EndDate">End Date</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="PlannedBudget" placeholder="EndDate"
                                            formControlName="PlannedBudget">
                                        <label for="PlannedBudget">Planned Budget</label>
                                        <small style="color: red;">Remaining Budget : {{task?.RemainingBudget}}</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="Weight" placeholder="Weight"
                                            formControlName="Weight">
                                        <label for="Weight">Weight</label>
                                        <small style="color: red;">Remaining Weight : {{task?.RemianingWeight}}</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="ActivityType" #activity
                                            formControlName="ActivityType">

                                            <option>--- Select Activity Type --- </option>
                                            <option value="0">Both</option>
                                            <option value="1"> Office Work</option>
                                            <option value="2">Filed Work</option>

                                        </select>
                                        <label for="ActivityType">Activity Type </label>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="activity.value=='0'">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="OfficeWork"
                                            placeholder="OfficeWork" formControlName="OfficeWork">
                                        <label for="OfficeWork">Office Work</label>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="activity.value=='0'">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="FieldWOrk" placeholder="FieldWOrk"
                                            formControlName="FieldWork">
                                        <label for="FieldWOrk">Field WOrk</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="UnitofMeasurment"
                                            formControlName="UnitOfMeasurement">

                                            <option *ngFor="let um of unitMeasurments" value={{um.Id}}>{{um.Name}}
                                            </option>

                                        </select>
                                        <label for="UnitofMeasurment">Unit of Measurment </label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="Performance"
                                            placeholder="Performance" formControlName="PreviousPerformance">
                                        <label for="Performance">Performance</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="Target" placeholder="Target"
                                            formControlName="Goal">
                                        <label for="Target">Target</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="assignactivityto" formControlName="WhomToAssign"
                                            #assign>

                                            <option>--- Select Whom to Assign ---</option>
                                            <option value="0"> To Comittee </option>
                                            <option value="1"> To Employees </option>
                                            <!-- <option value="2"> To Team Leader </option> -->
                                        </select>
                                        <label for="assignactivityto">Assign Activity to</label>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="assign.value=='0'">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="comiteee" #committeValue (change)="onCommiteChange(committeValue.value)"    formControlName="CommiteeId">
                                            <option *ngFor="let c of committees" value={{c.Id}}>{{c.Name}}</option>
                                        </select>
                                        <label for="comiteee">Comittee</label>
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="assign.value=='1'">
                                    <div class="form-floating mb-3">
                                        <div class="mb-4">

                                            <select class="form-select" formControlName="AssignedEmployee" id="employees" multiple>
                                                <option *ngFor="let emp of task.TaskMembers" value={{emp.EmployeeId}}>{{emp.Name}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                                (click)="closeModal()">Close</button>
                            <button type="button" type="submit" [disabled]="!activityForm.valid"
                                class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <div class="modal-content ">
                        <div class="modal-header bg-secondary text-white">
                            <h5 class="modal-title">Tips</h5>
                        </div>
                        <div class="modal-body" *ngIf="task" >
                            <div class="card-title text-center">{{task.TaskName!}}</div>
                            <div class="text-center">
                                <span  class="card-title"> {{task.StartDate! | date:"MMMM d, YYYY"}} - {{task.EndDate! | date:"MMMM d, YYYY"}} </span> <br />
                                <span class="card-title"> Task Budget : {{task.PlannedBudget!}} ETB</span> <br />
                                <span  class="card-title"> Remaining Task Budget : {{task.RemainingBudget}} ETB</span> <br />
                                <span class="card-title">Remaining Task Weight :{{task.RemianingWeight}} %</span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-content mt-2 " *ngIf="comitteEmployees.length>0" >
                        <div class="modal-header bg-secondary text-white">
                            <h5 class="modal-title">Comittee Employees</h5>
                        </div>
                        <div class="modal-body" >

                            <ul>
                                <li *ngFor="let item of comitteEmployees">
                                    <span>{{item.Name}} ({{item.CommiteeStatus}})</span>

                                </li>
                                </ul>
                            <!-- <div class="card-title text-center">{{task.TaskName!}}</div> -->
                            <!-- <div class="text-center">
                                <span  class="card-title"> {{task.StartDate! | date:"MMMM d, YYYY"}} - {{task.EndDate! | date:"MMMM d, YYYY"}} </span> <br />
                                <span class="card-title"> Task Budget : {{task.PlannedBudget!}} ETB</span> <br />
                                <span  class="card-title"> Remaining Task Budget : {{task.RemainingBudget}} ETB</span> <br />
                                <span class="card-title">Remaining Task Weight :{{task.RemianingWeight}} %</span>
                            </div> -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>