<main id="main" class="main">
    <div class="pagetitle">
       <h1>Cases</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Case</li>
             <li class="breadcrumb-item active">Type</li>
          </ol>
       </nav>
    </div>
    <div class="text-end col-lg-12">
       <button class="btn btn-primary text-end mb-3" (click)="addCaseType()"> Add Case Type </button>
    </div>
    <section class="section profile">

   <div class="card">
      <p-table [value]="caseTypes" dataKey="Id" [tableStyle]="{'min-width': '60rem'}">
         <ng-template pTemplate="header">
             <tr>
                 <th style="width: 5rem"></th>
                 <th pSortableColumn="CaseTypeTitle">CaseTypeTitle <p-sortIcon field="CaseTypeTitle"></p-sortIcon></th>
                 <th pSortableColumn="Remark">Remark <p-sortIcon field="Remark"></p-sortIcon></th>
                 <th pSortableColumn="TotalPayment">TotalPayment <p-sortIcon field="TotalPayment"></p-sortIcon></th>
                 <th pSortableColumn="MeasurementUnit">MeasurementUnit <p-sortIcon field="MeasurementUnit"></p-sortIcon></th>
                 <th pSortableColumn="RowStatus">RowStatus <p-sortIcon field="RowStatus"></p-sortIcon></th>
                 <th pSortableColumn="Code">Code <p-sortIcon field="Code"></p-sortIcon></th>
                 <th>Action</th>
             </tr>




         </ng-template>
         <ng-template pTemplate="body" let-caset let-expanded="expanded">
             <tr>
                 <td>
                     <button type="button" pButton pRipple [pRowToggler]="caset" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                 </td>
                 <td>{{caset.CaseTypeTitle}}</td>
                 <td>{{caset.Remark}}</td>
                 <td>{{caset.TotalPayment }} ETB</td>
                 <td>{{caset.Counter }} {{caset.MeasurementUnit }}</td>
                 <td>{{caset.RowStatus }}</td>
                 <td>{{caset.Code }}</td>
                 <td><p-button class="p-button-rounded p-button-success mr-2" type="button" icon="pi pi-plus " (click)="AddChild(caset)"> </p-button></td>
           </tr>
         </ng-template>
         <ng-template pTemplate="rowexpansion" let-caset>
             <tr>
                 <td colspan="7">
                     <div class="p-3">
                         <p-table [value]="caset.Children" dataKey="Id">
                             <ng-template pTemplate="header">
                                 <tr>
                                    <th pSortableColumn="CaseTypeTitle">CaseTypeTitle <p-sortIcon field="CaseTypeTitle"></p-sortIcon></th>
                                    <th pSortableColumn="Remark">Remark <p-sortIcon field="Remark"></p-sortIcon></th>
                                    <th pSortableColumn="TotalPayment">TotalPayment <p-sortIcon field="TotalPayment"></p-sortIcon></th>
                                    <th pSortableColumn="MeasurementUnit">MeasurementUnit <p-sortIcon field="MeasurementUnit"></p-sortIcon></th>
                                    <th pSortableColumn="RowStatus">RowStatus <p-sortIcon field="RowStatus"></p-sortIcon></th>
                                    <th pSortableColumn="Code">Code <p-sortIcon field="Code"></p-sortIcon></th>
                                    
                                 </tr>
                             </ng-template>
                             <ng-template pTemplate="body" let-child>
                                 <tr>
                                    <td>{{child.CaseTypeTitle}}</td>
                                    <td>{{child.Remark}}</td>
                                    <td>{{child.TotalPayment }} ETB</td>
                                    <td>{{child.Counter }} {{child.MeasurementUnit }}</td>
                                    <td>{{child.RowStatus }}</td>
                                    <td>{{child.Code }}</td>

                                  
                                 </tr>
                             </ng-template>
                             <ng-template pTemplate="emptymessage">
                                 <tr>
                                     <td colspan="6">There are no Childs for this Case Type yet.</td>
                                 </tr>
                             </ng-template>
                         </p-table>
                     </div>
                 </td>
             </tr>
         </ng-template>
     </p-table>
   </div>
     
      <!-- <div class="card p-3"  >
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Case Type Tittle</th>
                     <th scope="col">Remark</th>
                     <th scope="col">Elaps(hr)</th>
                     <th scope="col">Measurement Unit</th>
                     <th scope="col">Status</th>
                     <th scope="col">Total Payment</th>
                     <th scope="col">SMS Code</th>
                     
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let casetype of caseTypes; let i = index">
                     <th scope="row">{{i+1}}</th>
                     <td>{{casetype.CaseTypeTitle}}</td>
                     <td>{{casetype.Remark}}</td>
                     <td>{{casetype.TotalPayment}}</td>
                     <td>{{casetype.MeasurementUnit}}</td>
                     <td>{{casetype.RowStatus}}</td>
                     <td>{{casetype.TotalPayment}}</td>
                     <td>{{casetype.Code}}</td>
                   
                  </tr>

                  
               </tbody>
            </table>
       
        
      </div> -->
 

    </section>
 </main>