<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Task</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card" >

        <div class="card-body">
            <h5 class="card-title">Task Detail</h5>

            <div class="row">
                <div class="col-lg-9">
                    <form class="" [formGroup]="taskForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">


                                <div class="col-12">
                                    <div class="form-floating"><textarea class="form-control" formControlName="TaskDescription"
                                            placeholder="TaskDescription" id="TaskDescription" style="height: 120px;"></textarea><label
                                            for="TaskDescription">Task Description</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="PlannedBudget" placeholder="PlannedBudget"
                                            formControlName="PlannedBudget">
                                        <label for="PlannedBudget">Planned Budget</label>

                                        <small style="color: red;">Remaining Budget : {{plan.RemainingBudget}} ETB </small>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-check" style="font-size: 30px;"> <input class="form-check-input" formControlName="HasActvity"
                                            type="checkbox" id="gridCheck"> <label class="form-check-label" style="font-size: 28px;font-weight: bold;"
                                            for="gridCheck">Has Activity </label></div>
                                </div>
                          

                            </div>

                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                                (click)="closeModal()">Close</button>
                            <button type="button" type="submit" [disabled]="!taskForm.valid"
                                class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <div class="modal-content ">
                        <div class="modal-header bg-secondary text-white">
                            <h5 class="modal-title">Tips</h5>

                        </div>

                        <div class="modal-body" *ngIf="plan" style="background-color: #f6f9ff;">
                            <div class="card-title text-center">{{plan.PlanName!}}</div>
                            <div *ngIf="plan.Tasks.length>0">
                                <span>{{plan.StartDate|date:"MMMM d, YYYY"}}</span> - <span>{{plan.StartDate|date:"MMMM d, YYYY"}}</span>
                             </div>
                             <div class="text-center">
                                <span class="card-title"> Planned Budget : {{plan.PlannedBudget!}} ETB</span> <br />
                                <span class="card-title"> Remaining Budget : {{plan.RemainingBudget!}} ETB</span> <br />
                                <span class="card-title"> Remaining Weight : {{plan.RemainingWeight!}} %</span>
                             </div>
                         </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>