<main id="main" class="main">
   <div class="pagetitle">
      <h1>Task</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Task</li>
            <li class="breadcrumb-item active">List</li>
         </ol>
      </nav>
   </div>
   <div class="text-end col-lg-12">
      <button class="btn btn-primary text-end mb-3" (click)="addTask()"> Add Tasks </button>
   </div>
   <section class="section profile">

      <div class="row">

         <div class="col-lg-8 listtask" style="height: 70vh; overflow-y: auto;">

            <div class="card" *ngFor="let task of plan?.Tasks" style="cursor:pointer" (click)="TaskDetail(task)">



               <div class="card-header">

                  <div class="row">
                     <div class="col-8">
                        {{task.TaskName}}
                     </div>
                     <div class="col-4" style="text-align: right!important;">
                        <span *ngIf="task.HasActivity" class="badge bg-success">Has Activity</span>
                        <span *ngIf="!task.HasActivity" class="badge bg-danger">Has No Activity</span>

                     </div>
                  </div>



               </div>
               <div class="card-body" style="background-color: #f6f9ff !important; color: #798eb3;">


                  <span class="card-title">Planned Budget :</span> {{task.PlannedBudget}} ETB<br />

                  <span class="card-title">Task Weight :</span> {{task.TaskWeight}} %<br /><br />

                  <i class="bi bi-list-check"></i> {{task.NumberofActivities}} Actvities
                  &nbsp;&nbsp;
                  {{task.NumberOfFinalized}} &nbsp;<span class="badge bg-success"> Finalized</span>&nbsp;&nbsp;
                  {{task.NumberOfTerminated}} &nbsp; <span class="badge bg-danger"> Terminated</span>

               </div>
               <div class="card-footer">


                  <div class="row">
                     <div class="col-md-6">
                        <i class="bi bi-calendar-check"></i> Start Date : {{task.StartDate | date:"MMMM d, YYYY"}} <br />
                        <i class="bi bi-calendar-check"></i> End Date : {{task.EndDate | date:"MMMM d, YYYY" }}

                     </div>
                     <div class="col-md-6" style="text-align: right!important;">
                        <i style="font-size: 40px;" class="bi bi-person-circle"></i> {{task.NumberOfMembers}} Members
                     </div>

                  </div>



               </div>


            </div>

         </div>

         <div class="col-lg-4">
            <div class="modal-content ">
               <div class="modal-header bg-secondary text-white">
                  <h5 class="modal-title">Tips</h5>
               </div>

               <div class="modal-body" *ngIf="plan" >
                  <div class="card-title text-center">{{plan.PlanName!}}</div>
                  <!-- <div class="text-center">{{plan?.ProgramBudgetYear}}</div>  -->

                  <div class=" text-center" *ngIf="plan.Tasks.length>0">
                     <span class="card-title">{{plan.StartDate|date:"MMMM d, YYYY"}}</span> - <span class="card-title">{{plan.StartDate|date:"MMMM d, YYYY"}}</span>
                  </div>
                  
                  <div class="text-center">
                     <span class="card-title"> Planned Budget : {{plan.PlannedBudget!}} ETB</span> <br />
                     <span class="card-title"> Remaining Budget : {{plan.RemainingBudget!}} ETB</span> <br />
                     <span class="card-title"> Remaining Weight : {{plan.RemainingWeight!}} %</span>
                  </div>
               </div>
            </div>
         </div>
      </div>


   </section>
</main>