<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Update Case</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Case Detail</h5>



            <form class="" [formGroup]="caseForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">


                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="CaseNumber" placeholder="CaseNumber"
                                    [disabled]="true" [value]="CaseNumber">
                                <label for="CaseNumber">Case Number</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="LetterNumber" placeholder="LetterNumber"
                                    formControlName="LetterNumber">
                                <label for="LetterNumber">Letter Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="ApplicantId" formControlName="ApplicantId"
                                    aria-label="State">

                                    <option *ngFor="let applicant of applicants" value={{applicant.Id.toLocaleLowerCase()}}>
                                        {{applicant.Name}}</option>


                                </select>
                                <label for="ApplicantId">Applicant </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span style="font-size:20px;align-self: center; cursor: pointer;" (click)="addApplicant()"
                                class="badge bg-success"><i class="bi bi-plus"></i></span>

                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="LetterSubject" placeholder="LetterSubject"
                                    formControlName="LetterSubject">
                                <label for="LetterSubject">Subject</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="CaseTypeId" formControlName="CaseTypeId" #outsideCase
                                    (change)="getFileSettings(outsideCase.value)" aria-label="State">

                                    <option *ngFor="let outsideCase of outsideCases" value={{outsideCase.Id?.toLocaleLowerCase()}}>
                                        {{outsideCase.Name}}</option>


                                </select>
                                <label for="CaseTypeId">OutSide Case Type </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="PhoneNumber2" placeholder="PhoneNumber2"
                                    formControlName="PhoneNumber2">
                                <label for="PhoneNumber2">Phone Number 2 </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Representative" placeholder="Representative"
                                    formControlName="Representative">
                                <label for="Representative">Representative</label>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <label for="inputNumber" class="col-sm-12 col-form-label">Document</label>
                            <div class="col-sm-12"> <input (change)="onFileSelected($event)" multiple
                                    class="form-control" type="file" id="formFile"></div>

                            <!-- <ngx-doc-scanner *ngIf="image" [file]="image" [config]="config"
                                (editResult)="editResult($event)" (exitEditor)="exitEditor($event)"
                                (error)="onError($event)" (processing)="editorState($event)"></ngx-doc-scanner> -->
                            <!-- <ngx-document-scanner></ngx-document-scanner> -->
                            <app-scanner (imagesScannedUpdated)="onImagesScannedUpdate($event)"></app-scanner>
                        </div>

                        <div class="col-md-8">
                            <label for="inputNumber" class="col-sm-12 col-form-label">Expected Files</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">File Name</th>
                                        <!-- <th scope="col">Files /Statments</th> -->
                                        <!-- <th scope="col">Document Checked</th> -->

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let fileSetting of fileSettings; let i = index">
                                        <th>{{i+1}}</th>
                                        <th>{{fileSetting.Name}}</th>
                                        <!-- <th><input id={{i}} class="form-control" required
                                                (change)="onFileSettongSelected(fileSetting.Id,$event)" type="file">
                                        </th> -->
                                    </tr>

                                </tbody>
                            </table>
                            <label for="inputNumber" class="col-sm-12 col-form-label">Updated Files</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">File</th>
                                        <th scope="col">Action</th>
                                        <!-- <th scope="col">Files /Statments</th> -->
                                        <!-- <th scope="col">Document Checked</th> -->

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let attachment of encodecase.Attachments; let i = index">
                                        <th>File {{i+1}}</th>
                                        <th>
                                          
                                            <a class="btn btn-outline-primary m-2" [href]="viewFile(attachment.Name)" target="_blank">
                                                View File
                                            </a> | 
                                            
                                            <a class="btn btn-outline-danger m-2" (click)="RemoveFile(attachment.Id)">
                                                Remove File
                                            </a>
                                        </th>
                                       
                                    </tr>

                                </tbody>
                            </table>

                             
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()">Close</button>
                    <button type="button" type="submit" [disabled]="!(caseForm.valid)"
                        class="btn btn-warning">Update</button>
                </div>
            </form>

        </div>
    </div>

</div>