<main id="main" class="main">
  <div class="pagetitle">
    <h1>Organization Structures</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Organization</li>
        <li class="breadcrumb-item active">Structures</li>
      </ol>
    </nav>
  </div>
  <section class="section">

    <div class="row">

      <div class="col-12">
        <div class="card p-2">


          <form [formGroup]="serachForm" (submit)="Search()">
            <div class="d-flex justify-content-start ">
              <div class="form-floating col-3 me-2">
                <select class="form-control" formControlName="branchId" placeholder="branchs">
                  <!-- <option>--- Select Branch ---</option> -->

                  <option *ngFor="let item of branchs" value={{item.Id}}>{{item.Name}}</option>


                </select>

                <label for="branchs">Branchs</label>
              </div>


              <button pButton type="submit" icon="pi pi-search" [disabled]="!serachForm.valid"
                class="p-button-text bg-success text-white"></button>

            </div>
          </form>


        </div>
      </div>
    </div>




    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Oraganization Structures</h5>
          <div class="text-end col-lg-12">
            <button class="btn btn-primary text-end mb-3" (click)="addStructure()">
              Add Structure
            </button>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Organization Branch</th>
                <th scope="col">Parent Structure</th>
                <th scope="col">Structure Name</th>
                <th scope="col">Office Number</th>

                <th scope="col">Is Branch</th>
                <th scope="col">Order</th>
                <th scope="col">Weight</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let structureParameter of structures; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ structureParameter.BranchName }}</td>
                <td>{{ structureParameter.ParentStructureName }}</td>
                <td>{{ structureParameter.StructureName }}</td>
                <td>{{ structureParameter.OfficeNumber }}</td>
                <td>{{ structureParameter.IsBranch?"Is Branch":"Is not Branch" }}</td>
                <td>{{ structureParameter.Order }}</td>
                <td>{{ structureParameter.Weight }}</td>
                <td>
                  <a (click)="updateStructure(structureParameter)" class="btn btn-outline-warning"><i
                      class="bi bi-pen"></i> Update</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card flex justify-content-center p-2" style="overflow-x: scroll;">
        <p-organizationChart [value]="data">

          <ng-template let-node pTemplate="organization">
            <div class="p-2 text-center">

              <div class="font-bold">{{ node.data.name }}</div>
              <div>{{node.data.weight}}</div>
              <div>{{ node.data.head }}</div>
            </div>
          </ng-template>


        </p-organizationChart>
      </div>
    </div>
  </section>
</main>