<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add New Applicant</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Applicant Detail</h5>



            <form class="" [formGroup]="applicantForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">


                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="ApplicantName" placeholder="ApplicantName"
                                    formControlName="ApplicantName">
                                <label for="ApplicantName">Applicant Name</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="CustomerIdentityNumber" placeholder="CustomerIdentityNumber"
                                    formControlName="CustomerIdentityNumber">
                                <label for="CustomerIdentityNumber">Customer Identity Number</label>
                            </div>
                        </div>
                      
                      
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="ApplicantType" formControlName="ApplicantType"
                                    aria-label="State">

                                    <option></option>
                                    <option value="Organization">Organization</option>
                                    <option value="Indivisual">Indivisual</option>

                                </select>
                                <label for="ApplicantType">Applicant Type </label>
                            </div>
                        </div>
                      

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="Email" placeholder="Email"
                                    formControlName="Email">
                                <label for="Email">Applicant Email </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="PhoneNumber" placeholder="PhoneNumber"
                                    formControlName="PhoneNumber">
                                <label for="PhoneNumber">Phone Number</label>
                            </div>
                        </div>

                      




                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()">Close</button>
                    <button type="button" type="submit" [disabled]="!applicantForm.valid"
                        class="btn btn-success">Create</button>
                </div>
            </form>






        </div>
    </div>

</div>