<main id="main" class="main">
   <div class="pagetitle">
      <h1>Cases</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">File</li>
            <li class="breadcrumb-item active">Setting</li>
         </ol>
      </nav>
   </div>
   <div class="text-end col-lg-12">
      <button class="btn btn-primary text-end mb-3" (click)="addfilesetting()"> Add File Setting </button>
   </div>
   <section class="section profile">
      <div class="card p-3">
         <table class="table table-strip">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Case Type Tittle</th>
                  <th scope="col">File Name </th>
                  <th scope="col">File Type </th>
                  <th scope="col">Row status </th>


               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let file of fileSettings;let i=index ">
                  <th scope="row">{{i+1}}</th>
                  <td>{{file.CaseTypeTitle}}</td>
                  <td>{{file.Name}}</td>
                  <td>{{file.FileType}}</td>
                  <td>{{file.RowStatus}} </td>
                  <td>
                     <button class="btn btn-secondary text-end mb-2 m-2"> Edit </button>
                     <button class="btn btn-secondary text-end mb-2 m-2"> Remove </button>
                  </td>
               </tr>
            </tbody>
         </table>


      </div>





   </section>
</main>