<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Activity Progress</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <form [formGroup]="progressForm" (submit)="submit()">
        <div class="card-body">
            <h5 class="card-title">{{ProgressStatus=="0"?"Add":"Finalize"}}Add Activity Progress for {{activity.Name}}</h5>
            <hr />

            <div class="row mt-2">

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" formControlName="QuarterId">

                            <option *ngFor="let perform of activity.MonthPerformance ;let i= index;" value={{i+1}}
                                value={{perform.Id}}>
                                {{months[i]}} ( overall {{perform.Planned}} ) </option>
                        </select>
                        <label for="QuarterId">Month</label>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="number" formControlName="ActualWorked" class="form-control" id="ActualWorked"
                            placeholder="ActualWorked">
                        <label for="ActualWorked">Actual progress </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <input type="number" formControlName="ActualBudget" class="form-control" id="ActualBudget"
                            placeholder="ActualBudget">
                        <label for="ActualBudget">Used Budget </label>
                    </div>
                </div>


                <div class="col-12">
                    <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                            placeholder="Address" id="Remark" style="height: 120px;"></textarea><label
                            for="Remark">Remark</label>
                    </div>
                </div>

                <div class="mt-2 row">
                    <div class="col-6">
                        <label for="inputNumber" class="col-sm-12 col-form-label">Documents</label>
                        <div class="col-sm-12"> <input (change)="onFileSelected($event)"  class="form-control" multiple type="file" id="formFile"></div>
                    </div>

                    <div class="col-6">
                        <label for="inputNumber" class="col-sm-12 col-form-label">Finance Documents</label>
                        <div class="col-sm-12"> <input (change)="onFinanceFileSelected($event)"  class="form-control" type="file" id="formFile2"></div>
                    </div>

                </div>
              


            </div>

        </div>
        <div class="modal-footer"> <button type="button" class="btn btn-secondary"  (click)="closeModal()">Close</button>
            <button type="button" type="submit" [disabled]="!progressForm.valid" class="btn btn-success">Create</button>
        </div>
    </form>
    </div>
</div>