<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Row for {{shelf.ShelfNumber}}</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Row Detail</h5>

            <div class="row">
                <div class="col-lg-12">
                    <form class="" [formGroup]="rowForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="RowNumber" placeholder="RowNumber"
                                        formControlName="RowNumber">
                                    <label for="RowNumber">Row Number</label>
                                </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                                            placeholder="Address" id="Remark" style="height: 120px;"></textarea><label
                                            for="Remark">Remark</label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                                (click)="closeModal()">Close</button>
                            <button type="button" type="submit" [disabled]="!rowForm.valid"
                                class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>