<div class="activity ">
  
    <div class="activity-item d-flex ">
        <div class="activite-label "></div>
        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>


        

        <div [class]="index%2===0?  'card activety ribbon-corner shadow box ':'card activety ribbon-corner shadow right'">
            


            
        <div class="ribbon ribbon-top-left"><span 
            
      
            
            [class]="caseHistory.AffairHistoryStatus=='Pend'||caseHistory.AffairHistoryStatus=='Waiting'?'bg-warning':
            caseHistory.AffairHistoryStatus=='Seen'||caseHistory.AffairHistoryStatus=='Completed'?'bg-success':
            caseHistory.AffairHistoryStatus=='Transfered'?'bg-info':'bg-danger'" >         
            
            
            
            
            
            
            {{caseHistory.AffairHistoryStatus}}</span></div>
                <h5 class="card-title subTitle">{{caseHistory.ReciverType}}
                </h5>
         <hr/>
            <div class="card-body mt-2">
                <div [class]="index%2===0?  'timeline-arrow ':'timeline-arrow-2'"></div>

                <div class="activity-content">


                    <p class="date" style="font-size:14px;color:#798eb3;">{{caseHistory.CreatedAt|date:'fullDate'}}</p>
                    <span style="font-size:15px;color:#798eb3;"> From : {{caseHistory.FromEmployeeId}} (
                        {{caseHistory.FromStructure}} ) - </span>
                    <br />
                    <small style="font-size:12px;color:#798eb3;"> To : {{caseHistory.ToStructure}} (
                        {{caseHistory.ToEmployee}} )</small><br />

                    <div class="mt-2 text-start">
                        <i class="bi bi-envelope icon mt-2">
                            {{caseHistory.IsSMSSent?'Sent':'Not Sent'}}
                        </i>

                    </div>


                  

                        <div class="mt-2 text-end" *ngIf="caseHistory.ToEmployeeId.toLowerCase()== user.EmployeeId.toLowerCase()">
                            <a routerLink="/casedetiel" style="border-radius: 10px;"
                                class=" bg-primary p-2 text-white" (click)="caseDetail(caseHistory.Id)"  >Detail <i class="bi bi-chevron-double-right"></i></a>

                        </div>

                   


                </div>
            </div>




        </div>
    </div>
</div>

