
.icon{
    background-color: yellow;
    padding: 5px 8px;
    margin-left: -5px !important;
}
.timeline-arrow {
    border-top: 1rem solid transparent;
    border-right: 1rem solid #fff;
    border-bottom: 1rem solid transparent;
    display: block;
    position: absolute;
    left: -15px;
    margin-top: 45px;
}
.btn{
    align-items: center;
    color: #012970;
    margin-left: 200px;

}
.date{
    font-size: 12px;
    margin-left: -5px !important;
    line-height: 0.8;
}
.activety{
    padding: 20px;
    margin-left: 22px;
    width: 100%;
    border: 1px solid #35558d;
 

box-shadow: -5px 10px !important ;
}
.subTitle{
    text-align: center;
    margin-bottom: 10px !important;
    margin-top: -25px !important;
}
.first{
    padding: 50px;
}
.card-title{
    margin-bottom: -20px;
}
.activity-badge{
    padding:  4px;
    margin: -2px !important;
    margin-top: 70px !important;
    border-radius: 5px solid !important;  
}
.right{
    left: 0;
    margin-left:-107% !important;
}
.timeline-arrow-2 {

    margin-right: 100px;
    border-top: 1rem solid transparent;
    border-left: 1rem solid #fff;
    border-bottom: 1rem solid transparent;
    display: block;
    position: absolute;
    right: -115px;
    margin-top: 45px;

}
.box {
    position: relative;
    /* max-width: 600px;
    width: 90%;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.1); */
  }
  
  /* common */
  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    border: 5px solid #484c4e;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top left*/
  .ribbon-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
  }
  
  /* top right*/
  .ribbon-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon-top-right::before,
  .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }
  
  /* bottom left*/
  .ribbon-bottom-left {
    bottom: -10px;
    left: -10px;
  }
  .ribbon-bottom-left::before,
  .ribbon-bottom-left::after {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-bottom-left::before {
    bottom: 0;
    right: 0;
  }
  .ribbon-bottom-left::after {
    top: 0;
    left: 0;
  }
  .ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
  }
  
  /* bottom right*/
  .ribbon-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon-bottom-right::before,
  .ribbon-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon-bottom-right span {
    left: -25px;
    bottom: 30px;
    transform: rotate(-225deg);
  }