<div class="modal-content"  >
        <div class="modal-header">
            <h5 class="modal-title">Assign Case</h5>
            <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
        </div>
    
            <div class="card-body">
                    <form class="" [formGroup]="caseForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">
    
    
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <select class="form-select" id="selectwho" 
                                        formControlName="selectwho" #who >
                                        <option value="0">To Structure</option>
                                        <option value="1">To Employee</option>
                                    </select>
                                        <label for="selectwho">Select Whom You Want To Assign </label>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                    <div class="form-floating mb-3" >
                                        <select class="form-select" id="branch" #branch (change)="getStructures(branch.value)"
                                      >
                                       <option value=""></option>
                                        <option *ngFor="let branch of Branches" [value]="branch.Id"  > {{branch.Name}}  </option>   
                                    </select>
                                        <label for="branch">Brnaches</label>
                                    </div>
                                    <div class="form-floating mb-3" >
                                        <select class="form-select" id="Structure" #structure  (change)="getEmployees(structure.value)"
                                        formControlName="Structure">
                                        <option value=""></option>
                                        <option *ngFor="let structure of Structures" [value]="structure.Id"> {{structure.Name}}</option>   
                                    </select>
                                        <label for="Structure">Structure</label>
                                    </div>
                                    <div class="form-floating " *ngIf="who.value=='1'">
                                        <select class="form-select" id="ForEmployee" 
                                        formControlName="ForEmployee">
                                        <option value=""></option>
                                        <option *ngFor="let employee of Employees" [value]="employee.Id"> {{employee.Name}}</option>   
                                      </select>
                                        <label for="ForEmployee">For Employee</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                       <select class="form-control" formControlName="CCto"
                                        placeholder="General Manager" multiple id="CCto" style="height: 300px;">

                                        <option *ngFor="let structure of Structures" [value]="structure.Id"> {{structure.Name}}</option>   
                                       </select>
                                      <label for="CCto">CC to</label>
                                        
                                </div>
                                
                                </div>
    
                           
                          
    
                            </div>
    
                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                                (click)="closeModal()">Close</button>
                            <button type="button" type="submit" [disabled]="!caseForm.valid"
                                class="btn btn-success">Assign</button>
                        </div>
                    </form>
    
    
                  
                
    
    
            </div>

    </div>
     
        
    
  





