<header id="header" class="header fixed-top d-flex align-items-center">
   <div class="d-flex align-items-center justify-content-between"> <a routerLink="/dashboard"
         class="logo d-flex align-items-center"> <img src="assets/img/logo.png" alt=""> <span
            class="d-none d-lg-block">DDWS</span> </a> <i (click)="sidebarToggle()"
         class="bi bi-list toggle-sidebar-btn"></i></div>
   <!-- <div class="search-bar">
       <form class="search-form d-flex align-items-center" method="POST" action="#"> <input type="text" name="query" placeholder="Search" title="Enter search keyword"> <button type="submit" title="Search"><i class="bi bi-search"></i></button></form>
    </div> -->
   <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
         <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i
                  class="bi bi-search"></i> </a></li>
         <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span
                  class="badge bg-primary badge-number">{{activites?.length}}</span> </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" style="max-height:400px;overflow-x: scroll;">
               <li class="dropdown-header"> You have {{activites?.length}} new notifications <a
                     href="/actForApproval"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
               </li>

               <li>
                  <hr class="dropdown-divider">
               </li>

               <ng-container *ngFor="let act of activites">
                  <li class="notification-item" (click)="routeToApproval(act)">
                     <i class="bi bi-exclamation-circle text-warning"></i>
                     <div>
                        <h4>{{act.Name}}</h4>
                        <p>Needs Approval</p>
                        <span class="badge bg-danger text-white">{{act?.ProgresscreatedAt| date:'fullDate'}}</span>
                     </div>
                  </li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>

               </ng-container>



               <li class="dropdown-footer"> <a href="/actForApproval">Show all activities</a></li>
            </ul>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-chat-left-text"></i> <span
                  class="badge bg-success badge-number">{{assignedCases?.length}}</span> </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" style="height:400px;overflow-x: scroll;">
               <li class="dropdown-header"> You have {{assignedCases?.length}} Assigned Cases <a href="/mycaselist"><span
                        class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a></li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <ng-container *ngFor="let case of assignedCases">
                  <li class="message-item">
                     <a (click)="detailCase(case.Id!)">

                        <div>
                           <h4>{{case?.CaseNumber}} (Needs Action)</h4>
                           <p>{{case?.CaseTypeName}}</p>
                           <p class="badge bg-danger text-white">{{case?.CreatedAt | date:'fullDate'}}</p>
                        </div>
                     </a>
                  </li>


                  <li>
                     <hr class="dropdown-divider">
                  </li>
               </ng-container>

               <li class="dropdown-footer"> <a href="/mycaselist">Show all cases</a></li>
            </ul>
         </li>

         <li class="nav-item dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-chat-square-quote"></i>
               <span class="badge bg-danger badge-number">{{issuedCases?.length}}</span> </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" style="max-height:400px;overflow-x: scroll;">
               <li class="dropdown-header"> You have {{issuedCases?.length}} Issued Cases <a href="/issuedcase"><span
                        class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a></li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <ng-container *ngFor="let case of issuedCases">
                  <li class="message-item">
                     <!-- <a (click)="detailCase(case.Id)"> -->
                     <a href="/issuedcase">
                        <div>
                           <h4>{{case.CaseNumber}} (Needs Action)</h4>
                           <p>{{case.CaseTypeName}}</p>
                           <p>{{case.Remark}}</p>
                           <p class="badge bg-danger text-white">{{case.CreatedAt | date:'fullDate'}}</p>
                        </div>
                     </a>
                  </li>


                  <li>
                     <hr class="dropdown-divider">
                  </li>
               </ng-container>

               <li class="dropdown-footer"> <a href="/mycaselist">Show all Issues</a></li>
            </ul>
         </li>
         <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <img
                  [src]="createImagePath(user.Photo)" alt="Profile" class="rounded-circle"> <span
                  class="d-none d-md-block dropdown-toggle ps-2">{{this.user.FullName}}</span> </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" style="max-height:400px;overflow-x: scroll;">
               <li class="dropdown-header">
                  <h6>{{this.user.FullName}}</h6>
                  <span>{{this.user.role}}</span>
               </li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <li> <a class="dropdown-item d-flex align-items-center" routerLink="/user-profile"> <i
                        class="bi bi-person"></i> <span>My Profile</span> </a></li>
               <li>
                  <hr class="dropdown-divider">
               </li>
               <li> <a class="dropdown-item d-flex align-items-center " style="cursor: pointer;" (click)="logOut()"> <i
                        class="bi bi-box-arrow-right"></i> <span>Sign Out</span> </a>
               </li>
            </ul>
         </li>
      </ul>
   </nav>
</header>