<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Activity target</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Assign Target for {{activity.Name}}</h5>

            <h5 style="text-align: right!important ;">
                Overall Target : <b>{{activity.Target - activity.Begining}} {{activity.UnitOfMeasurment}}</b><br/>
                Overall Budget : <b> {{activity.PlannedBudget}} ETB</b>
            
            <br/>
            
            </h5>
            <hr />



            <div class="row gy-3 gx-3 ">


                <div class="col-md-4" *ngFor="let tar of actTargets.controls;">
                    <ng-container  [formGroup]="tar">
                <div style="text-align:center; padding: 25px; background-color : #f6f9ff;">
                    <span style="text-align: center !important;">
                        <input class="form-control" formControlName="monthName" />                     
                    </span>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number"  formControlName="Target" class="form-control" id="Target" placeholder="Target"
                                    >
                                <label for="Target">Target</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="Budget" placeholder="Budget"
                                 formControlName = "Budget"  >
                                <label for="Budget">Budget</label>
                            </div>
                        </div>

                    </div>

                </div>
            </ng-container>
            </div>




        </div>
        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
            (click)="closeModal()">Close</button>
        <button type="button" type="submit" (click)="submitTarget()"
            class="btn btn-success">Assign Target  </button>
    </div>
    </div>
</div>