<main id="main" class="main">
   <div class="pagetitle">
      <h1>Cases</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">Encode </li>
            <li class="breadcrumb-item active">Case</li>
         </ol>
      </nav>
   </div>
   <div class="text-end col-lg-12">
      <button class="btn btn-primary text-end mb-3" (click)="addCase()"> Add Case </button>

   </div>
   <section class="section profile">
      <div class="row">


         <div class="col-lg-4" *ngFor="let encodedCase of encodedCases | paginate: { itemsPerPage: 3, currentPage: p }">
            <div class="card">
               <div class="card-header">
                  <div>
                     <div style="text-align: right!important;">
                        <li style="list-style: none; text-align: right;">
                           <a class="nav-link nav-profile  pe-0" href="#" data-bs-toggle="dropdown"> <span
                                 style="color: #204382;" class="d-none d-md-block dropdown-toggle ps-2">Action </span>
                           </a>
                           <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                              <li> <a class="dropdown-item d-flex align-items-center" style="cursor: pointer;"
                                    (click)="assignCase(encodedCase.Id)"> <i
                                       class="bi bi-bookmark-check text-primary"></i> <span>Assign
                                       Case</span> </a></li>
                              <li>
                                 <hr class="dropdown-divider">
                              </li>
                              <li> <a class="dropdown-item d-flex align-items-center" style="cursor: pointer;"
                                    (click)="updateCase(encodedCase.Id)"> <i class="bi bi-pencil text-primary"></i>
                                    <span>Update
                                       Case</span> </a></li>
                           </ul>
                        </li>
                     </div>
                     <div>
                        {{encodedCase.CaseTypeName}}
                     </div>

                  </div>
               </div>
               <div class="card-body" style="background-color: #f6f9ff !important;">
                  <h5 class="card-title ">

                     {{encodedCase.LetterSubject}}
                  </h5>

                  <div class="row">
                     <div class="col-6">

                        <span> {{encodedCase.ApplicantName || encodedCase.EmployeeName}} | {{encodedCase.LetterNumber}}
                        </span><br />
                        <span> {{encodedCase.ApplicantPhoneNo || encodedCase.EmployeePhoneNo}}</span>

                     </div>
                     <div class="col-6 " style="text-align: right!important;">

                        <span style="font-size: 20px;" class="badge bg-secondary">{{encodedCase.CaseNumber}}</span>

                     </div>

                  </div>
               </div>
               <div class="card-footer">

               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
      </div>
   </section>
</main>