<main id="main" class="main">
    <div class="pagetitle">
       <h1>Cases</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Case </li>
             <li class="breadcrumb-item active">History</li>
          </ol>
       </nav>
    </div>
   
 
    <section class="section dashboard">
        <div class="row">
           <div class="col-lg-12">  
                 <div class="card-body" id="eku-card">
                    <h5 class="card-title">{{caseTypeTitle}} ( {{CaseNumber!}} )</h5>
                    <div class="activity">
                       <div class="activity-item d-flex">
                          <div class="activite-label "></div>
                          <i class='p-2  text-success align-self-start'></i>
                          <div class="activity-content first"></div>
                       </div>
                    </div>

                    <app-history-card *ngFor="let caseHistory of caseHistories; let i  = index" [caseHistory]="caseHistory" [index]="i" [user]="user" ></app-history-card>
    
 
                     </div>
                 </div>
                
              </div>
         
     
       
     </section>
        
    

        
      
  
 </main>