<main id="main" class="main">
    <div class="pagetitle">
        <h1>Case Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Case Dashboard</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">


        <div class="row">

            <div class="col-4">
                <div class="card p-2">


                    <form [formGroup]="serachForm" (submit)="Search()">
                        <div class="d-flex justify-content-start ">
                            <div class="form-floating me-2">
                                <input type="text" class="form-control startDate" formControlName="startDate"
                                    id="startDate" placeholder="startDate">
                                <label for="startDate">Start Date</label>
                            </div>
                            <div class="form-floating me-2">
                                <input type="text" class="form-control endDate" formControlName="endDate" id="endDate"
                                    placeholder="endDate">
                                <label for="endDate">End Date</label>
                            </div>


                            <button pButton type="submit" icon="pi pi-search"
                                class="p-button-text bg-success text-white"></button>

                        </div>
                    </form>


                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center ">

            <div class="card col-8 me-2 p-2">
                <h5>Case Types to month Ratio</h5>
                <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
            </div>

            
            <div class="card col-4">
                <p-chart type="doughnut" [data]="dashboardDtos.chart" [style]="{'width': '100%'}">
                </p-chart>


            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Pending Report</h5>
                        <p-table #dt [value]="dashboardDtos.pendingReports" [rows]="5" [paginator]="true"
                            [globalFilterFields]="['CaseNumber','AffairNumber','Subject','Subject','Structure','Employee','Elapstime','Level','CreatedDateTime']"
                            [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="Id"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true">
                            <ng-template pTemplate="caption">

                                <div class="text-end">

                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal( $any($event.target)?.value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header" >
                                <tr >


                                    <th pSortableColumn="ApplicantName">Case Number <p-sortIcon field="ApplicantName">
                                        </p-sortIcon>
                                    </th>
                                 

                                    
                                    <th pSortableColumn="AffairNumber">Applicant Name<p-sortIcon field="AffairNumber">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="CaseTypeTitle">Case Type Title<p-sortIcon field="CaseTypeTitle">
                                    </p-sortIcon>
                                </th>
                                    <th pSortableColumn="Subject">Subject <p-sortIcon field="Subject"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Structure">Structure<p-sortIcon field="Structure"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="Employee">Employee <p-sortIcon field="Employee"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Elapstime">Elapstime<p-sortIcon field="Elapstime"></p-sortIcon>
                                    </th>
                                    
                                    <th pSortableColumn="CreatedDateTime">Created Date Time <p-sortIcon
                                            field="CreatedDateTime"></p-sortIcon>
                                    </th>




                                </tr>



                            </ng-template>
                            <ng-template pTemplate="body" let-dash>
                                <tr [pSelectableRow]="dash" class="text-danger" >
                                    <td>
                                        <span class="p-column-title">Case Number</span>
                                        {{dash.AffairNumber}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Applicant Name</span>
                                        <span>{{dash.ApplicantName}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Case Type Title</span>
                                        <span>{{dash.CaseTypeTitle}}</span>
                                    </td>

                                    <td>
                                        <span class="p-column-title">Subject</span>
                                        <span>{{dash.Subject}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Structure</span>
                                        <span>{{dash.Structure}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Employee</span>
                                        <span>{{dash.Employee}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Elapstime</span>
                                        <span class="bg-danger text-white p-1" style="border-radius: 2px;">{{dash.Elapstime}}</span>
                                    </td>
                                    <!-- <td>
                                        <span class="p-column-title">Level</span>
                                        <span>{{dash.Message}}</span>
                                    </td> -->
                                    <td>
                                        <span class="p-column-title">CreatedDateTime</span>
                                        <span>{{dash.CreatedDateTime|date:"fullDate"}}</span>
                                    </td>





                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="4">No Pending Report found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>

            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Completed Reports</h5>
                        <p-table #dt [value]="dashboardDtos.completedReports" [rows]="5" [paginator]="true"
                            [globalFilterFields]="['CaseNumber','AffairNumber','Subject','Subject','Structure','Employee','Elapstime','Level','CreatedDateTime']"
                            [tableStyle]="{'min-width': '75rem'}" [rowHover]="true" dataKey="Id"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [showCurrentPageReport]="true">
                            <ng-template pTemplate="caption">

                                <div class="text-end">

                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal( $any($event.target)?.value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>

                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>


                                    <th pSortableColumn="ApplicantName">Case Number <p-sortIcon field="ApplicantName">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="AffairNumber">Applicant Name<p-sortIcon field="AffairNumber">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="CaseTypeTitle">Case Type Title<p-sortIcon field="CaseTypeTitle">
                                    </p-sortIcon>
                                </th>
                                    <th pSortableColumn="Subject">Subject <p-sortIcon field="Subject"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Structure">Structure<p-sortIcon field="Structure"></p-sortIcon>
                                    </th>

                                    <th pSortableColumn="Employee">Employee <p-sortIcon field="Employee"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="Elapstime">Elapstime<p-sortIcon field="Elapstime"></p-sortIcon>
                                    </th>
                                    
                                    <th pSortableColumn="CreatedDateTime">Created Date Time <p-sortIcon
                                            field="CreatedDateTime"></p-sortIcon>
                                    </th>




                                </tr>



                            </ng-template>
                            <ng-template pTemplate="body" let-dash>
                                <tr [pSelectableRow]="dash">
                                    <td>
                                        <span class="p-column-title">Case Number</span>
                                        {{dash.AffairNumber}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Applicant Name</span>
                                        <span>{{dash.ApplicantName}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Case Type Title</span>
                                        <span>{{dash.CaseTypeTitle}}</span>
                                    </td>

                                    
                                    <td>
                                        <span class="p-column-title">Subject</span>
                                        <span>{{dash.Subject}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Structure</span>
                                        <span>{{dash.Structure}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Employee</span>
                                        <span>{{dash.Employee}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Elapstime</span>
                                        <span class="bg-success text-white p-1" style="border-radius: 2px;">{{dash.Elapstime}}</span>
                                    </td>
                                    <!-- <td>
                                        <span class="p-column-title">Level</span>
                                        <span>{{dash.Message}}</span>
                                    </td> -->
                                    <td>
                                        <span class="p-column-title">CreatedDateTime</span>
                                        <span>{{dash.CreatedDateTime|date:"fullDate"}}</span>
                                    </td>





                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="4">No Completed Report found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>

            </div>
        </div>




    </section>
</main>