<main id="main" class="main">
    <div class="pagetitle">
        <h1>Unit of Measurement</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Commmo</li>
                <li class="breadcrumb-item active">Unit of Measurment</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Unit of Measurment</h5>
                    <div class="text-end col-lg-12">
                        <button class="btn btn-primary text-end mb-3" (click)="addUnitOfMeasurment()"> Add Unit
                            Measurment</button>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Local Name</th>
                                <th scope="col">Measurment Type </th>
                                <th scope="col">Status</th>
                                <th scope="col">Remark</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let measurmentParamter of unitOfMeasurments ; let i= index">

                                <th scope="row">{{i+1}}</th>
                                <td>{{measurmentParamter.Name}}</td>
                                <td>{{measurmentParamter.LocalName}}</td>
                                <td>{{measurmentParamter.Type=="0"?"Percent":"Number"}}</td>
                                <td>{{measurmentParamter.RowStatus=="0"?"Active":"InActive"}}</td>
                                <td>{{measurmentParamter.Remark}}</td>
                                <td>
                                <a (click)="updateUnitOfMeasurment(measurmentParamter)" 
                                    class="btn btn-outline-warning"><i class=" bi bi-pen"></i> 
                                        Update</a>

                                </td>

                            </tr>
                        </tbody>


                    </table>

                </div>
            </div>
        </div>
    </section>
</main>