<main id="main" class="main">
    <div class="pagetitle">
        <h1>Task Details</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Task</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="card">
            <div class="card-header">
                <div class="card-title d-flex justify-content-between">
                    {{task.TaskName}}
                    <button class="btn btn-primary text-end" *ngIf="requestFrom == 'ACTIVITY'" (click)="addActivity()"> Add Activity </button>
                   
                   
                    <button class="btn btn-primary text-end" *ngIf="requestFrom != 'ACTIVITY' && task.ActivityViewDtos && task.ActivityViewDtos.length == 0" (click)="addActivity()"> Add Activity </button>
                
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">Members</h5>
                        <img style="width: 40px;margin:10px; cursor: pointer;" data-bs-toggle="tooltip"
                            data-bs-placement="top" title={{emp.Name}} *ngFor="let emp of task.TaskMembers"
                            [src]="getImage(emp.Photo!)" alt="Profile" class="rounded-circle">
                        <hr/>
                        <h5 class="card-title">Description</h5>
                        <textarea class="form-control" rows="3" #taskMemoDesc (change)="taskMemo(taskMemoDesc.value)"
                            [disabled]="!isUserTaskMember">{{!isUserTaskMember? "You are not a member to this task":"" }}</textarea>
                        <div style="text-align: right !important;">
                            <button type="button" *ngIf="isUserTaskMember" type="submit"
                                class="btn btn-success mt-2 text-right">Save</button>
                        </div>

                        <div class="accordion mt-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header"> <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseMemos" aria-expanded="false"
                                        aria-controls="collapseMemos"> View Task Memos</button></h2>
                                <div id="collapseMemos" *ngIf="task.TaskMemos" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" style="height: 40vh; overflow-y: auto;">
                                        <div *ngFor="let taskmemos of task.TaskMemos">

                                            <li class="message-item d-flex justify-content-start p-4 "
                                                style="list-style: none; background-color: #f6f9ff;border-radius: 15px;">

                                                <img [src]="getImage(taskmemos.Employee.Photo!)" height="50"
                                                    style="margin-right: 10px;" alt="" class="rounded-circle">
                                                <div>
                                                    <h5 style="font-weight: bold;">{{taskmemos.Employee.Name}}</h5>
                                                    <p style="font-size: 13px;"> {{taskmemos.Description}}</p>
                                                    <p style="font-size: 15px; font-weight:bold ;">{{
                                                        getDateDiff(taskmemos.DateTime)}}</p>
                                                </div>
                                            </li>
                                            <hr class="dropdown-divider">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="col-4 ">

                        <div class="accordion mt-2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne"> <button class="accordion-button "
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne"> Add Members</button></h2>
                                <div id="collapseOne" *ngIf="Employees" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">



                                        <div class="mb-4">
                                            <span class="mb-2" *ngFor="let emp of selectedEmployee" style="padding: 6px;
                                     border: #384653 1px solid;
                                     border-radius: 50px;
                                     background-color: #f6f9ff;
                                     margin-right: 2px;
                                     ">{{emp.Name}}

                                                <button type="button" class="btn-close" (click)="removeSelected(emp)"
                                                    aria-label="Close"></button></span>
                                        </div>

                                        <span class="mb-2">
                                            Employees
                                        </span>
                                        <app-autocomplete *ngIf="Employees.length>0" [data]="Employees"
                                            (selectedItem)="selectEmployee($event)"></app-autocomplete>
                                        <div class="modal-footer">
                                            <button type="button" type="submit" [disabled]="selectedEmployee.length==0"
                                                class="btn btn-success" (click)="AddMembers()">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo"> <button class="accordion-button collapsed"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">Attachments </button></h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                        <div class="text-center" *ngFor="let att of attachments; let i = index">


                                            {{att.ActivityDesctiption}} ({{att.FileType}}) -
                                            <a target="_blank" class="btn btn-sm btn-secondary"
                                                href={{getFilePath(att.FilePath!)}}>View File {{i+1}}</a>

                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="accordion mt-2" *ngIf="task.ActivityViewDtos">
                    <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseAddActivity" aria-expanded="false"
                                aria-controls="collapseMemos"> View Activities</button>
                        </h2>
                        <div id="collapseAddActivity" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div *ngFor="let actView of task.ActivityViewDtos">
                                    <app-view-activties [actView]="actView"></app-view-activties>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>