<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Users</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Detail</h5>
            <form class="" [formGroup]="userForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">


                        <div class="col-md-6"> <label for="inputName5" class="form-label">Employee</label>

                            <app-autocomplete *ngIf="employeeList.length>0" [data]="employeeList"
                                (selectedItem)="selectEmployee($event)"></app-autocomplete>

                        </div>

                        <div class="col-md-6"> <label for="inputName5" class="form-label">User Name</label>

                            <input type="text" class="form-control" id="UserName" placeholder="User Name"
                                formControlName="UserName">
                        </div>

                        <div class="col-md-6"> <label for="inputName5" class="form-label">Password</label>

                            <input type="password" class="form-control" id="Password" placeholder="Password"
                                formControlName="Password">
                        </div>

                        <div class="col-md-6"> <label for="inputName5" class="form-label">Confirm Password</label>

                            <input type="password" class="form-control" id="Password" placeholder="Confirm Password"
                                formControlName="ConfirmPassword">
                        </div>



                        <div class="col-md-6">
                            <label for="inputName5" class="form-label">Roles</label>
                            <select class="form-select" multiple id="Roles" style="height:230px;"
                                formControlName="Roles" aria-label="multiple select example">
                                <option *ngFor="let role of RoleList" [value]="role.Name">{{role.Name}}</option>


                            </select>


                        </div>





                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()">Close</button>
                    <button type="button" type="submit" [disabled]="!userForm.valid" class="btn btn-success">Create New
                        User</button>
                </div>
            </form>

        </div>
    </div>

</div>