<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Archive Case </h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Archive Detail ( {{case.CaseNumber}} )</h5>
            <form class="" [formGroup]="archiveForm" (ngSubmit)="submit()">
         <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <select class="form-select" (change)="onShelfChange(shelf.value)" #shelf id="shelfId"
                        aria-label="State">

                        <option></option>
                        <option *ngFor="let s of shelfs" value={{s.Id}}>{{s.ShelfNumber}}</option>


                    </select>
                    <label for="shelfId">Shelfs </label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <select class="form-select" (change)="onRowChange(row.value)" #row id="shelfId" aria-label="State">

                        <option></option>
                        <option *ngFor="let r of rows" value={{r.Id}}>{{r.RowNumber}}</option>


                    </select>
                    <label for="shelfId">Rows </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <select class="form-select"  id="FolderId" aria-label="State" formControlName="FolderId">

                        <option></option>
                        <option *ngFor="let f of folders" value={{f.Id}}>{{f.FolderName}}</option>


                    </select>
                    <label for="FolderId" >Folder </label>
                </div>
            </div>
    

         </div>
         <div class="modal-footer"> <button type="button" class="btn btn-secondary"
            (click)="closeModal()">Close</button>
        <button type="button" type="submit" [disabled]="!archiveForm.valid"
            class="btn btn-success">Archive</button>
    </div>
</form>


        </div>
    </div>
</div>